.item {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  background: white;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 6px;
  padding: 10px;
  margin-top: 20px;

  & > div:first-child {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  & > div {
    display: flex;
    align-items: center;

    & > svg {
      margin-right: 5px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;

}

body {
  background: lightgrey;
}

.comments {
  display: flex;
  justify-content: space-between;

  &__delete {
    justify-content: flex-end;

    & > img {
      max-height: 34px;
      max-width: 34px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  &__like {
    &> img{
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}